#map-container {
	width: 500px;
	height: 400px;
	border: 1px solid #000;
	display: inline-block;
}

#map-container a {
	border: 1px solid #000;
	background: rgba(255, 255, 255, 0.5);
}

#map-thumbnail {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 250px;
	border: 1px solid #000;
}

#map-thumbnail div {
	background: rgba(255, 255, 255, 0.3);
}
